
export(
calendar.effects,
coefs2poly,
discard.outliers,
find.consecutive.outliers,
JarqueBera.test,
locate.outliers,
locate.outliers.iloop,
locate.outliers.oloop,
outliers,
outliers.tstatistics,
outliers.effects,
outliers.regressors,
plot.tsoutliers,
print.tsoutliers,
remove.outliers,
tso0,
tso)

S3method(JarqueBera.test, default)
S3method(JarqueBera.test, Arima)
S3method(outliers.regressors, default)
S3method(outliers.regressors, ArimaPars)
S3method(outliers.tstatistics, default)
S3method(outliers.tstatistics, ArimaPars)
S3method(plot, tsoutliers)
S3method(print, mhtest)
S3method(print, tsoutliers)

importFrom("forecast", "auto.arima")
importFrom("stats", "filter")
importFrom("stats", "lm.fit")

importFrom("graphics", "mtext", "par", "plot")
importFrom("stats", "ARMAtoMA", "arima", "coef", "convolve", "cycle", "diffinv",
  "end", "fft", "frequency", "is.ts", "na.omit", "pchisq",
  "pnorm", "quantile", "residuals", "sd", "start", "time",
  "ts", "tsp", "tsp<-", "window")
importFrom("utils", "capture.output", "tail")
